:root {
    // Font
    --main-font: "Poppins";
    --text-font: "JSDongkang-Regular";

    // BG
    --mainBg-color: #000000;

    // Black 
    --black000: #000000;
    --black100: #333333;
    --black200: #666666;
    --black300: #999999;
    --black400: #cccccc;

    // White 
    --white000: #ffffff;
    --white100: #f2f2f2;
    --white200: #e6e6e6;
    --white300: #d9d9d9;
    --white400: #cccccc;


}